<% content_for :title, "Editing List" %>

<div class="editing-title">
  <h1>Editing Task</h1>
</div>

<%= form_for @list do |f| %>
  <div style="display: flex; align-items: justify-content: center; gap: 10px; margin-left: 50px; margin-top: 30px">
    <%= f.text_field :name, value: @list.name %>
    <%= f.submit "Update", class: 'update-list-button' %>
    <%= link_to "Go Back", request.referer || lists_path, class: 'back-update-button' %>
  </div>
<% end %>
