body {
  font-family: Arial, sans-serif;
  background-color: white; 
  color: black;
  margin-top: 50px;
}

h1 {
  color: black;
  margin-left: 50px;
  margin-top: 80px;
}

.notice {
  position:fixed;
  top: 30px;
  background-color: #f0fdf4;
  color: #22c55e;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  margin-left: 50px;
}

.error-notice {
  top: 30px;
  background-color: #FFB4BF;
  color: #ff5353;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
}

.editing-title {
  margin-top: 130px;
}

.save-button {
  background-color: blue;
  color: white;
  border: none;
  font-size: 13px;
  font-weight: bold;
  width: auto;
  padding: 10px 15px;
  border-radius: 8px;
}

.save-item-button {
  background-color: blue;
  color: white;
  font-size: 13px;
  font-weight: bold;
  width: auto;
}

.show-list {
  background-color: #d9c6d9; 
  color: black;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
}

.show-list:hover {
  background-color: #b2a0b2;
}


.edit-list-button {
  background-color: #d1c0d1;; 
  color: black;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}

.edit-list-button:hover {
  background-color: #a293a3;
}

.update-list-button {
  background-color: blue;
  color: white;
  font-weight: bold;
  width: auto;
}

.update-back-button {
  background-color: #d9c6d9; 
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
}

.update-back-button:hover {
  background-color: #b2a0b2;
}

input[type="text"], input, select, textarea {
  border: none;
  border-radius: 8px; 
  box-shadow: 0 3px 12px rgba(190, 190, 190, 0.638);
  padding: 10px 15px; 
  width: 250px;
  font-size: 14px; 
}

#lists {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;
  margin-top: 3px;
  margin-left: 50px;
}

#lists div {
  background-color: white; 
  border: 2px solid transparent;
  padding: 15px;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 6px 17px rgba(190, 190, 190, 0.638);
  margin-top: 30px;
}

.back-button {
  background-color: #d9c6d9; 
  color: black;
  padding: 10px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
}

.back-button:hover {
  background-color: #b2a0b2;
}


button {
  background-color: #E78787; 
  color: black;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
}

button:hover {
  background-color: #DB4A4A; 
}

a {
  text-decoration: none; 
  color: black;
  font-size: 14px;
}

.itens {
  margin-bottom: 20px;
}

.delete-item {
  background-color: #E78787;
  color: black;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none; 
  margin-right: 20px;
}

.delete-item:hover {
  background-color: #DB4A4A;
}

.edit-button {
  background-color: #d1c0d1;
  color: black;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}

.edit-button:hover {
  background-color: #a293a3;
}

li {
  display: flex;
  align-items: center; 
  margin-bottom: 10px; 
  padding-right: 1170px;
}

li > .item-name {
  flex-grow: 1;
}

li > .buttons {
  display: flex;
  gap: 10px; 
  justify-content: flex-end;
  padding-left: 20px;
}

p {
  display: flex;
  align-items: center;  
  gap: 10px;
}

.update-item {
  background-color: blue;
  color: white;
  font-size: 13px;
  font-weight: bold;
  width: auto;
}



.update-back-item {
  background-color: #d9c6d9; 
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
}

.update-back-item:hover {
  background-color: #b2a0b2;
}